.promo {
    
    padding: 21px 0 93px 0;
    background: url(../img/bg.png) center (center/cover) no-repeat;


    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }

    &__header {
        color: rgb(255, 255, 255);
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0px;
        text-transform: uppercase;
    }

    &__subheader {
        margin-top: 17px;
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-transform: uppercase;
    }

    &__icons {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        width: 425px;
    }

    &__icon {
        width: 125px;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0px;

        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;
            width: 44px;
            height: 44px;
        }
    }

    &__link {
        color: rgb(255, 255, 255);
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        text-align: right;
        margin-top: 18px;

        a {
            color: rgb(255, 255, 255);
            text-decoration: underline;
            text-transform: uppercase;
        }

    }
}

@media (max-width: 1024px) {
    .promo {
        background-position: 30% 30%;
    }
    .promo__header {
            font-size: 36px;
        }
    .promo__subheader {
            font-size: 18px;
    }
    .promo__icon {
        font-size: 12px;
    }
    .promo__link {
        font-size: 14px;
    }
}
@media (max-width: 768px){
    .promo {
        background-position: 35% 30%;
        
    }
    .promo__header {
        font-size: 30px;
    }
   .promo__subheader {
        font-size: 16px;
    }
    .promo__icon {
    font-size: 12px;
    }
    .promo__link {
    font-size: 14px;
    }
    .promo__wrapper{
      margin-top: 45px;
    }
    .promo__icons{
        margin-top: 135px;
        width: 400px;
    }
}
@media (max-width: 576px){
    .promo__header {
        font-size: 26px;
    }
    .promo__subheader {
        font-size: 13px;
    }
    .promo__icon {
        // width: 100px;
        font-size: 10px;
        // img{
        //     width: 34px;
        //     height: 34px;
        // }
    }
    .promo__link {
        font-size: 12px;
    }
    .promo__wrapper{
        margin-top: 40px;
    }
    .promo__icons{
        margin-top: 155px; 
    }    
}
@media (max-width: 425px){
    .promo {
        background-size: 300% 100%; 
        padding: 20px 0 40px 0;
    }
    .promo__header {
        font-size: 20px;
    }
    .promo__subheader {
        font-size: 11px;
    }
    .promo__icon {
        width: 80px;
        font-size: 9px;
        img{
            width: 30px;
            height: 30px;
        }
    }
    .promo__link {
            font-size: 10px;
    }
    .promo__wrapper{
        margin-top: 35px;
    }
    .promo__icons{
        width: 300px;
        margin-top: 150px; 
    } 
    
}
@media (max-width: 375px){
    .promo__header {
        font-size: 18px;
    }
    .promo__subheader {
        margin-top: 0;
        font-size: 10px;
    }
    .promo__icon {
        width: 70px;
        height: 60px;
        font-size: 8px;
        img{
            width: 25px;
            height: 25px;
        }
    }
    .promo__link {
        font-size: 8px;
    }
    .promo__wrapper{
    margin-top: 40px;
    }
    .promo__icons{
    width: 250px;
    margin-top: 150px; 
    }
}


